code[class*="language-"],
pre[class*="language-"] {
    color: black;
    direction: ltr;
    font-family: Consolas, Monaco, "Andale Mono", monospace;
    hyphens: none;
    -ms-hyphens: none;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    tab-size: 4;
    -o-tab-size: 4;
    -moz-tab-size: 4;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
}

pre[class*="language-"]::-moz-selection,
code[class*="language-"]::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

pre[class*="language-"]::selection,
code[class*="language-"]::selection {
    background: #b3d4fc;
    text-shadow: none;
}

pre[class*="language-"] {
    margin: 0.5em 0em 0.5em 0em;
    overflow: auto;
    padding: 1em;
}

:not(pre) > code[class*="language-"] {
    border-radius: 0.3em;
    padding: 0.1em 0.1em 0.1em 0.1em;
}

.token {
    visibility: visible;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: slategray;
}

.token.punctuation {
    color: #999999;
}

.namespace {
    opacity: 0.7;
}

.token.property,
.token.etag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol {
    color: #990055;
}

.token.selector,
.token.attr-name,
.token.string,
.token.builtin {
    color: #669900;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
    background: hsla(0, 0%, 100%, 0.5);
    color: #a67f59;
}

.token.atrule,
.token.attr-value,
.token.keyword {
    color: #0077aa;
}

.token.regex,
.token.important {
    color: #ee9900;
}

.token.important {
    font-weight: bold;
}

.token.entity {
    cursor: help;
}
